*.class

# Package Files #
*.jar
*.war
*.ear

# Except Package Files we want #
#lvlEdit needs a jar that is not available in a maven repository
!lvlEdit/lib/java-dds/*.jar

# IntelliJ IDEA #
.idea

# Specific directorys #
#build exe for windows, put your launch4j files in there
gfsEdit/launch4j/launch4j/